body {
    margin: 0;
    overflow: hidden;
    background-color: #333; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lobby {
    text-align: center;
}

canvas {
    display: block;
}
